* {
  box-sizing: border-box;
}
#container {
  background-color: white;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 10px 10px 10px #a8a8a8;
  border: 1px solid black;
  padding: 10px;
}
#container::after {
  content: "";
  display: block;
  clear: both;
}
#container #kuva {
  width: 100%;
}
#container nav ul {
  list-style-type: none;
  padding: 0px;
  background-color: #fffdd0;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}
#container nav ul::after {
  content: "";
  display: block;
  clear: both;
}
#container nav ul li {
  display: inline-block;
  float: left;
  font-family: 'Vollkorn', serif;
  border-right: 1px solid black;
  padding: 5px;
}
#container nav ul li:hover {
  background-color: #cacaca;
}
#container nav ul li a {
  text-decoration: none;
  text-aling: center;
  color: black;
}
@media screen and (max-width: 579px) {
  #container nav ul li {
    display: block;
    float: none;
    text-align: center;
    font-size: 1.2em;
    border-bottom: 1px solid black;
  }
}
#container #sivu {
  border: 4px solid #a8a8a8;
}
#container #sivu #tekstit {
  padding: 5px;
  float: left;
  width: 73%;
}
@media screen and (max-width: 579px) {
  #container #sivu #tekstit {
    float: none;
    width: 100%;
  }
}
#container #sivu #tekstit p {
  margin-top: 0px;
}
#container #sivu #tekstit #news h2 {
  margin-bottom: 5px;
}
#container #sivu #tekstit #news h3 {
  margin-bottom: 0px;
}
#container #sivu #tekstit #news ul {
  margin-top: 5px;
  padding-left: 20px;
}
#container #sivu #sivuLaatikko {
  padding: 5px;
  float: right;
  width: 25%;
  border: 1px solid black;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 10px;
}
#container #sivu #sivuLaatikko h2 {
  margin-top: 0px;
  margin-bottom: 5px;
}
#container #sivu #sivuLaatikko p {
  margin-top: 5px;
  margin-bottom: 5px;
}
@media screen and (max-width: 579px) {
  #container #sivu #sivuLaatikko {
    float: none;
    width: auto;
    margin: 10px;
  }
}
#container #sivu::after {
  content: "";
  display: block;
  clear: both;
}
#container .teksti {
  margin-bottom: 10px;
  border: 4px solid #a8a8a8;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#container .teksti:last-child {
  margin-bottom: 0px;
}
#container .teksti .tiedot {
  padding: 5px;
  float: right;
  width: 95%;
}
#container .teksti .tiedot .nimi {
  display: inline;
  float: left;
}
#container .teksti .tiedot .nimi h2 {
  margin-top: 5px;
  margin-left: 10px;
  text-decoration: underline;
}
#container .teksti .tiedot .tietoa {
  float: right;
}
#container .teksti .tiedot .tietoa p:last-child {
  margin-top: 0px;
}
#container .teksti .tiedot .tietoa p:first-child {
  margin-bottom: 0px;
  margin-top: 5px;
}
#container .teksti .tiedot p {
  clear: both;
  padding-left: 10px;
}
#container .teksti .tiedot .linkki {
  float: right;
}
#container .teksti .tiedot .linkki a {
  color: #646464;
  text-decoration: none;
}
#container .teksti .complete {
  float: left;
  background-color: #83cf83;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
#container .teksti .complete p {
  text-aling: center;
}
#container .teksti .complete::before {
  content: "C\00000aO\00000aM\00000aP\00000aL\00000aE\00000aT\00000aE";
  white-space: pre;
}
#container .teksti .incomplete {
  float: left;
  background-color: #ca6262;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
#container .teksti .incomplete p {
  text-aling: center;
}
#container .teksti .incomplete::before {
  content: "I\00000aN\00000a\00000aP\00000aR\00000aO\00000aG\00000aR\00000aE\00000aS\00000aS";
  white-space: pre;
}
#container .teksti::after {
  content: "";
  display: block;
  clear: both;
}
#container #tarina h2 {
  text-align: center;
}
#container #tarina p {
  padding: 10px;
}
