@creamColor: #fffdd0;
@grayColor: #a8a8a8;
@complete: desaturate(#58FA58, 50%);
@incomplete: desaturate(#FE2E2E, 50%);
@themeColor: white;
@navColor: @creamColor;
@navBorder: 1px solid black;
@sivuBorder: 4px solid @grayColor;

  * {
	box-sizing: border-box;
  }
#container {
	background-color: @themeColor;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 10px 10px 10px @grayColor;
	border: @navBorder;
	padding: 10px;
	&::after {
		content: "";
		display: block;
		clear: both;
	}
	#kuva {
		width: 100%;
	}
	nav {
		ul {
			list-style-type: none;
			padding: 0px;
			background-color: @navColor;
			border: @navBorder;
			margin-top: 5px;
			margin-bottom: 5px;
			&::after {
				content: "";
				display: block;
				clear: both;
			}
			li {
				display: inline-block;
				float: left;
				font-family: 'Vollkorn', serif;
				border-right: @navBorder;
				padding: 5px;
				&:hover {
						background-color: @grayColor + #222;
					}
				a {
					text-decoration: none;
					text-aling: center;
					color: black;
					&:hover {
						
					}
				}
				@media screen and (max-width: 579px) {
					display: block;
					float: none;
					text-align: center;
					font-size: 1.2em;
					border-bottom: @navBorder
				}
			}
		}
	}
	#sivu {
		border: @sivuBorder;
		#tekstit {
			padding: 5px;
			@media screen and (max-width: 579px) {
				float: none;
				width: 100%;
			}
			p {
				margin-top: 0px;
			}
			#news {
				h2 {
					margin-bottom: 5px;
				}
				h3 {
					margin-bottom: 0px;
				}
				ul {
					margin-top: 5px;
					padding-left: 20px
				}
			}
			float: left;
			width: 73%;
		}
		#sivuLaatikko {
			padding: 5px;
			float: right;
			width: 25%;
			border: @navBorder;
			margin-top: 5px;
			margin-right: 5px;
			border-radius: 10px;
			h2 {
				margin-top: 0px;
				margin-bottom: 5px;
			}
			p {
				margin-top: 5px;
				margin-bottom: 5px;
			}
			@media screen and (max-width: 579px) {
				float: none;
				width: auto;
				margin: 10px;
				
			}
		}
		&::after {
			content: "";
			display: block;
			clear: both;
		}
	}
	.teksti {
		margin-bottom: 10px;
		border: @sivuBorder;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		&:last-child {
			margin-bottom: 0px;
		}
		.tiedot {
			padding: 5px;
			float: right;
			width: 95%;
			.nimi {
				display: inline;
				float: left;
				h2 {
					margin-top: 5px;
					margin-left: 10px;
					text-decoration: underline;
				}
			}
			.tietoa{
				float: right;
				p {
					&:last-child {
						margin-top: 0px;
					}
					&:first-child {
						margin-bottom: 0px;
						margin-top: 5px;
					}
				}
			}
			p {
				clear: both;
				padding-left: 10px;
			}
			.linkki {
				float: right;
				a {
					color: @grayColor - #444;
					text-decoration: none;
				}
			}
		}
		.complete {
			float: left;
			background-color: @complete;
			text-align:center;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;
			padding-right: 10px;
			p {
				text-aling: center;
			}
			&::before {
				content: "C\00000aO\00000aM\00000aP\00000aL\00000aE\00000aT\00000aE";
				white-space: pre;
			}
			
		}
		.incomplete {
			float: left;
			background-color: @incomplete;
			text-align:center;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;
			padding-right: 10px;
			p {
				text-aling: center;
			}
			&::before {
				content: "I\00000aN\00000a\00000aP\00000aR\00000aO\00000aG\00000aR\00000aE\00000aS\00000aS";
				white-space: pre;
			}
			
		}
		&::after {
			content: "";
			display: block;
			clear: both;
		}
	}
	#tarina {
		h2 {
			text-align: center;
		}
		p {
			padding: 10px;
		}
	}

}
