* {
  box-sizing: border-box;
}
#container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
header {
	text-align: center;
	border: 2px solid blue;
}
header a {
	color: black;
	text-decoration: none;
}
#kategoriat {
	float: left;
	width: 69%;
	margin-bottom: 20px;
}
#sivupalkki {
	float: right;
	width: 30%;
	border-left: 2px solid #2E64FE;
	border-bottom: 2px solid #2E64FE;
	padding-left: 5px;
	padding-bottom: 5px;
}
#login input, #rekisteroidy input {
	margin-top: 5px;
}
#uusiKysymys h2 {
	margin-bottom: 5px;
	margin-top: 100px;
}
#uusiKysymys p {
	margin-bottom: 10px;
	margin-top: 10px;
}
#kategorianNimi h2 {
	text-align: center;
	margin: 0px;
	margin-top: 5px;
	font-size: 30px;
}
#ilmoitus {
	margin-bottom: 0px;
}
#ylapalkki {
	float: right;
	border: 1px solid gray;
	background-color: #E6E6E6;
	border-radius: 5px;
	margin-top: 5px;
}
#ylapalkki:hover {
	background-color: #D8D8D8;
	border-style: outset;
}
#ylapalkki p {
	margin: 5px;
}
#ylapalkki a {
	text-decoration: none;
	color: black;
}
#login::after {
	content: "";
	display: block;
	clear: both;
}
#rekisteroidy h3 {
	margin-top: 0px;
}
.label {
	width: 90px;
	display: inline-block;
}
.kategoria {
	background-color: #2E64FE;
	margin-top: 5px;
}
.kategoria p {
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 5px;
}
.kategoria:first-child {
	margin-top: 10px;
}
.kategoria a {
	text-decoration: none;
	color: black;
}
.kategoria a:hover {
	color: #FAFAFA;
}
#kysymykset a {
	color: black;
	text-decoration: none;
}
.kysymyksia p {
	padding: 5px;
}
.kysymyksia {
	border-bottom: 2px solid blue;
}
.kysymys {
	display: inline-block;
	margin-bottom: 0px;
	margin-top: 5px;
	font-size: 18px;
}
.date {
	float: right;
	margin-top: 5px;
}
.kysyja {
	margin-top: 0px;
	font-size: 12px;
}
#tiedot {
	margin-left: 10px;
	margin-right: 10px;
}
#otsikko {
	display: inline-block;
	margin-bottom: 3px;
}
#nimi {
	margin-top: 2px;
	padding-left: 1px;
}
#date2 {
	float: right;
}
.vastaus {
	margin-left: 15px;
	margin-right: 15px;
	border: 2px solid blue;
	margin-top: 10px;
}
.vastaus p {
	padding: 10px;
}
.nimi {
	margin: 0px;
	display: inline-block;
}
.sisalto {
	margin: 0px;
}
#vastaa {
	margin-left: 20px;
}