* {
  box-sizing: border-box;
}
#sailio {
	max-width: 800px;
	border: 1px solid black;
}
#karuselli:after {
	content: "";
	display: block;
	clear: both;
}
.kuva {
	display: none;
}
.valittu {
	display: block;
}
.valittu img {
	float: left;
	width: 50%;
}
.valittu .kuvaus {
	float: right;
	width: 50%;
	padding-left: 5px;
}
#valilehdet {
	background-color: lightgray;
	border-top: 1px solid black;
}
#valilehdet span {
	display: inline-block;
	padding: 5px;
	border-right: 1px solid black;
	float: left;
}
#valilehdet .valittu {
	background-color: gray;
}
#valilehdet:after {
	content: "";
	display: block;
	clear: both;
}

