 * {
	box-sizing: border-box;
}
#container {
	border: 2px solid blue;
}
header {
	background: blue;
    background: -webkit-linear-gradient(blue, white);
    background: -o-linear-gradient(blue, white);
    background: -moz-linear-gradient(blue, white); 
    background: linear-gradient(blue, white);
	color: #01DFD7;
	text-align: center;
	padding: 20px;
	margin-bottom: 0;
}
#valikko2 ul {
	margin-top: 0;
	list-style-type: none;
	background-color: black;
	color: white;
}
#teksti {
	border-bottom: 2px solid blue;
}
.linkkeja h3 {
	background-color: #0000FF;
	margin-top: 0;
}
.linkkeja {
	background-color: #01DFD7;
}
.linkkeja ul {
	margin-bottom: 0;
}
footer {
	background-color: black;
	color: white;
}
footer p {
	margin: 0;
}
#valikko2 a{
	color: white;
	text-decoration: none;
}
#ylapalkki2 {
	display: none;
}
#ylapalkki, #ylapalkki select {
	background-color: #01DFD7;
}

@media screen and (min-width: 500px) {
	#valikko2  ul{
		list-style-type: none;
		background-color: black;
		color: white;
		margin: 0;
		padding: 0;

	}
	#valikko2 a {
		padding: 10px;
	}
	#valikko2 ul::after {
		content: "";
		display: block;
		clear: both;
	}
	#valikko2 > ul > li {
		float: left;
		position: relative;
		display: inline-block;
	}
	#alavalikko {
		position: absolute;
		z-index: 1;
		top: 100%;
		width: auto;
		white-space: nowrap;
		display: none;
		padding: 10px;
		border: 1px solid white;
		box-shadow: 5px 5px 5px #888888;
	}
	#valikko2 li:hover #alavalikko {
		display: block;
	}
	#valikko2 li {
		padding: 10px;
	}
	.linkkeja {
		display: inline-block;
		width: 29%;
		margin-left: 1.5%;
		margin-right: 1.5%;
	}
	#linkkiPalkki {
		background-color: #01DFD7;
		clear: both;
	}
	footer p {
		padding: 10px;
		text-align: center;
	}
	#teksti {
		border: none;
	}
	
}
@media screen and (min-width: 650px) {
	#ylapalkki2 li {
		display: inline-block;
		padding-right: 10px;
	}
	#ylapalkki2 ul {
		list-style-type: none;
		margin: 0px;
		padding: 5px;
	}
	#ylapalkki2 {
		display: block;
		text-align: right;
		background-color: #01DFD7;
	}
	#ylapalkki {
		display: none;
	}
	#teksti  {
		width: 50%;
		float: left;
		padding-right: 15px;
	}
	#teksti2  {
		width: 50%;
		float: right;
	}
	
	@media screen and (min-width: 800px) {
		#linkkiPalkki {
			float: left;
			width: 20%;
			clear: none;
			margin-top: 10px;
			margin-left: 10px;
		}
		#teksti, #teksti2 {
			width: 37.5%;
		}
		#teksti2 {
			float: left;
		}
		#linkkiPalkki::after {
		content: "";
		display: block;
		clear: both;
		}
		footer {
			clear: both;
		}
		.linkkeja {
			width: 100%;
			float: none;
			margin: 0px;
		}
		.linkkeja ul {
			margin-bottom: 10px;
		}
	}