@midGreen: #33cc33;
@lightGreen: desaturate(#a6ff4d, 30%);
@darkGreen: #336600;
@neutralColor: #808080;
* {
	box-sizing: border-box;
}
#container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	#top-navi {
		border: 1px solid @darkGreen;
		@media screen and (min-width: 600px) {
			border: none;
		}
		ul {
			list-style-type: none;
			padding: 0px;
			margin: 0px;
			@media screen and (min-width: 600px) {
				text-align: center;
			}
			li {
				@media screen and (min-width: 600px) {
					display: inline-block;
					float: left;
					position: relative;
					width: 20%;
				}
				&:hover {
					.submenu {
						@media screen and (min-width: 600px) {
							display: block;
						}
					}
				}
				background-color: @midGreen;
				padding-left: 5px;
				&:last-child {
					padding-bottom: 5px;
					@media screen and (min-width: 600px) {
						padding-bottom: 0px;
					}
				}
				.submenu {
					padding-left: 30px;
					@media screen and (min-width: 600px) {
						display: none;
						position: absolute;
						top: 100%;
						z-index: 1;
						background-color: transparent;
						background-image: url('navi-arrow.png');
						background-repeat: no-repeat;
						background-position: 50% 10px;
						margin-top: -15px;
						padding-top: 26px;
						padding-left: 0px;
					}
					li {
					
						@media screen and (min-width: 600px) {
							display: block;
							width: 100%;
						}
						@media screen and (min-width: 800px) {
							width: 80%;
						}
						
					}
				}
				a {
					text-decoration: none;
					color: @darkGreen;
					width: 100%;
					display: block;
					@media screen and (min-width: 600px) {
						padding: 10px;
					}
					&:hover {
						background-color: @lightGreen;
						
					}
				}
			}
		}
	}
	#site-header {
		padding: 40px;
		@media screen and (min-width: 600px) {
			clear: both;
		}
		background-image: url("banner.png");
		h1 {
			font-size: 46px;
			margin: 0px;
			color: @darkGreen;
			text-shadow: 2px 2px @lightGreen;
			padding: 5px;
			text-align: center;
		}
	}
	#row1 {
	#news-box {
		@media screen and (min-width: 800px) {
			float: left;
			width: 70%;
		}
		.news {
			@media screen and (min-width: 600px) {
				float: left;
				width: 33.333%;
				padding: 10px;
			}
			h1 {
				margin-top: 5px;
				margin-bottom: 0px;
				font-size: 26px;
			}
			.date {
				color: @neutralColor;
				margin-top: 0px;
			}
		} 
	}
	#sidebar {
		@media screen and (min-width: 800px) {
			float: right;
			width: 30%;
		}
		#login-box {
			h1 {
				background-color: @midGreen;
				color: @darkGreen;
				padding: 5px;
				@media screen and (min-width: 600px) {
					clear: both;
					font-size: 20px;
				}
			}
			.login-label {
				width: 100px;
				display: inline-block;
			}
			input {
				background-color: @lightGreen;
			}
		}
		
			#events {
				h1 {
					background-color: @midGreen;
					color: @darkGreen;
					padding: 5px;
					@media screen and (min-width: 600px) {
						font-size: 20px;
					}
				}
				.event {
					.event-date {
						border: 1px solid @darkGreen;
						float: left;
						margin-bottom: 5px;
						.month {
							background-color: @darkGreen;
							color: @lightGreen;
							text-align: center;
							text-transform: uppercase;
							padding-left: 5px;
							padding-right: 5px;
							@media screen and (min-width: 600px) {
								font-size: 12px;
								float: left;
								font-weight: bold;
							}
						}
						.day {
							display: block;
							text-align: center;
							margin-top: 5px;
							margin-bottom: 5px;
							@media screen and (min-width: 600px) {
								font-size: 20px;
							}
						}
					}
					.event-name {
						display: inline;
						float: left;
						padding-top: 15px;
						a {
							text-decoration: none;
							color: black;
							padding-left: 5px;
							font-size: 20px;
							&::after {
								content: " >>";
							}
						}
					}
					&::after {
						content: "";
						display: block;
						clear: both;
					}
				}
			}
		}
	}
	#row2 {
	background-color: @lightGreen;
		@media screen and (min-width: 800px) {
			clear: both;
			padding: 10px;
			text-align: center;
			margin-bottom: 20px;
		}
		.project {
			border: 1px solid @darkGreen;
			border-radius: 10px;
			margin-bottom: 5px;
			@media screen and (min-width: 800px) {
				float: left;
				width: 19%;
				margin-right: 0.5%;
				margin-left: 0.5%;
				background-color: white;
				
			}
			h1 {
				margin-top: 0px;
				margin-bottom: 5px;
				text-align: center;
				font-size: 22px;
			}
			p {
				padding: 5px;
				margin: 0px;
			}
		}
		&::after {
			content: "";
			display: block;
			clear: both;
		}
	}
	#row3 {
		#twitter {
			@media screen and (min-width: 800px) {
				float: left;
				width: 50%;
				padding-right: 10px;
			}
			header {
				text-align: center;
			}
			.tw-post {
				margin-bottom: 20px;
				.tw-logo {
					float: left;
				}
				.tw-content {
					
					margin-left: 40px;
					.tw-user {
						display: block;
						color: @lightGreen;
						margin-left: 5px;
						float: left;
					}
					.tw-date {
					display: block;
						color: @neutralColor;
						float: right;
					}
					.tw-tweet {
						clear: both;
						display: block;
					}
					.tweet-buttons {
						text-align: right;
					}
					&::after {
						content: "";
						display: block;
						clear: both;
					}
				}
			}
		}
		#facebook {
			@media screen and (min-width: 800px) {
				float: right;
				width: 50%;
				padding-left: 10px;
			}
			header {
				text-align: center;
				img {
					width: 80px;
				}
				
			}
			.fb-post {
				border-bottom: 2px dashed @neutralColor;
				padding: 5px;
				padding-bottom: 10px;
				.fb-user {
					display: block;
					color: @lightGreen;
					font-size: 1.2em
				}
				.fb-date {
					display: block;
					color: @neutralColor;
					font-size: 0.8em;
				}
				.fb-like {
					float: right;
					width: 80px;
				}
				&::after {
					content: "";
					display: block;
					clear: both;
				}
			}
		}
	}
}