* {
  box-sizing: border-box;
}
#container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#container #top-navi {
  border: 1px solid #336600;
}
@media screen and (min-width: 600px) {
  #container #top-navi {
    border: none;
  }
}
#container #top-navi ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
@media screen and (min-width: 600px) {
  #container #top-navi ul {
    text-align: center;
  }
}
#container #top-navi ul li {
  background-color: #33cc33;
  padding-left: 5px;
}
@media screen and (min-width: 600px) {
  #container #top-navi ul li {
    display: inline-block;
    float: left;
    position: relative;
    width: 20%;
  }
}
@media screen and (min-width: 600px) {
  #container #top-navi ul li:hover .submenu {
    display: block;
  }
}
#container #top-navi ul li:last-child {
  padding-bottom: 5px;
}
@media screen and (min-width: 600px) {
  #container #top-navi ul li:last-child {
    padding-bottom: 0px;
  }
}
#container #top-navi ul li .submenu {
  padding-left: 30px;
}
@media screen and (min-width: 600px) {
  #container #top-navi ul li .submenu {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1;
    background-color: transparent;
    background-image: url('navi-arrow.png');
    background-repeat: no-repeat;
    background-position: 50% 10px;
    margin-top: -15px;
    padding-top: 26px;
    padding-left: 0px;
  }
}
@media screen and (min-width: 600px) {
  #container #top-navi ul li .submenu li {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 800px) {
  #container #top-navi ul li .submenu li {
    width: 80%;
  }
}
#container #top-navi ul li a {
  text-decoration: none;
  color: #336600;
  width: 100%;
  display: block;
}
@media screen and (min-width: 600px) {
  #container #top-navi ul li a {
    padding: 10px;
  }
}
#container #top-navi ul li a:hover {
  background-color: #a6e468;
}
#container #site-header {
  padding: 40px;
  background-image: url("banner.png");
}
@media screen and (min-width: 600px) {
  #container #site-header {
    clear: both;
  }
}
#container #site-header h1 {
  font-size: 46px;
  margin: 0px;
  color: #336600;
  text-shadow: 2px 2px #a6e468;
  padding: 5px;
  text-align: center;
}
@media screen and (min-width: 800px) {
  #container #row1 #news-box {
    float: left;
    width: 70%;
  }
}
@media screen and (min-width: 600px) {
  #container #row1 #news-box .news {
    float: left;
    width: 33.333%;
    padding: 10px;
  }
}
#container #row1 #news-box .news h1 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 26px;
}
#container #row1 #news-box .news .date {
  color: #808080;
  margin-top: 0px;
}
@media screen and (min-width: 800px) {
  #container #row1 #sidebar {
    float: right;
    width: 30%;
  }
}
#container #row1 #sidebar #login-box h1 {
  background-color: #33cc33;
  color: #336600;
  padding: 5px;
}
@media screen and (min-width: 600px) {
  #container #row1 #sidebar #login-box h1 {
    clear: both;
    font-size: 20px;
  }
}
#container #row1 #sidebar #login-box .login-label {
  width: 100px;
  display: inline-block;
}
#container #row1 #sidebar #login-box input {
  background-color: #a6e468;
}
#container #row1 #sidebar #events h1 {
  background-color: #33cc33;
  color: #336600;
  padding: 5px;
}
@media screen and (min-width: 600px) {
  #container #row1 #sidebar #events h1 {
    font-size: 20px;
  }
}
#container #row1 #sidebar #events .event .event-date {
  border: 1px solid #336600;
  float: left;
  margin-bottom: 5px;
}
#container #row1 #sidebar #events .event .event-date .month {
  background-color: #336600;
  color: #a6e468;
  text-align: center;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (min-width: 600px) {
  #container #row1 #sidebar #events .event .event-date .month {
    font-size: 12px;
    float: left;
    font-weight: bold;
  }
}
#container #row1 #sidebar #events .event .event-date .day {
  display: block;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media screen and (min-width: 600px) {
  #container #row1 #sidebar #events .event .event-date .day {
    font-size: 20px;
  }
}
#container #row1 #sidebar #events .event .event-name {
  display: inline;
  float: left;
  padding-top: 15px;
}
#container #row1 #sidebar #events .event .event-name a {
  text-decoration: none;
  color: black;
  padding-left: 5px;
  font-size: 20px;
}
#container #row1 #sidebar #events .event .event-name a::after {
  content: " >>";
}
#container #row1 #sidebar #events .event::after {
  content: "";
  display: block;
  clear: both;
}
#container #row2 {
  background-color: #a6e468;
}
@media screen and (min-width: 800px) {
  #container #row2 {
    clear: both;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
}
#container #row2 .project {
  border: 1px solid #336600;
  border-radius: 10px;
  margin-bottom: 5px;
}
@media screen and (min-width: 800px) {
  #container #row2 .project {
    float: left;
    width: 19%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    background-color: white;
  }
}
#container #row2 .project h1 {
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 22px;
}
#container #row2 .project p {
  padding: 5px;
  margin: 0px;
}
#container #row2::after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (min-width: 800px) {
  #container #row3 #twitter {
    float: left;
    width: 50%;
    padding-right: 10px;
  }
}
#container #row3 #twitter header {
  text-align: center;
}
#container #row3 #twitter .tw-post {
  margin-bottom: 20px;
}
#container #row3 #twitter .tw-post .tw-logo {
  float: left;
}
#container #row3 #twitter .tw-post .tw-content {
  margin-left: 40px;
}
#container #row3 #twitter .tw-post .tw-content .tw-user {
  display: block;
  color: #a6e468;
  margin-left: 5px;
  float: left;
}
#container #row3 #twitter .tw-post .tw-content .tw-date {
  display: block;
  color: #808080;
  float: right;
}
#container #row3 #twitter .tw-post .tw-content .tw-tweet {
  clear: both;
  display: block;
}
#container #row3 #twitter .tw-post .tw-content .tweet-buttons {
  text-align: right;
}
#container #row3 #twitter .tw-post .tw-content::after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (min-width: 800px) {
  #container #row3 #facebook {
    float: right;
    width: 50%;
    padding-left: 10px;
  }
}
#container #row3 #facebook header {
  text-align: center;
}
#container #row3 #facebook header img {
  width: 80px;
}
#container #row3 #facebook .fb-post {
  border-bottom: 2px dashed #808080;
  padding: 5px;
  padding-bottom: 10px;
}
#container #row3 #facebook .fb-post .fb-user {
  display: block;
  color: #a6e468;
  font-size: 1.2em;
}
#container #row3 #facebook .fb-post .fb-date {
  display: block;
  color: #808080;
  font-size: 0.8em;
}
#container #row3 #facebook .fb-post .fb-like {
  float: right;
  width: 80px;
}
#container #row3 #facebook .fb-post::after {
  content: "";
  display: block;
  clear: both;
}
