* {
  box-sizing: border-box;
}
#container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #cc0099;
}
header {
	text-align: center;
	background-color: #ffcccc;
}
header h1, header h3 {
	margin: 0px;
	padding: 15px;
}
#saa #otsikko {
	background-color: #ff99ff;
	padding: 10px;
	margin: 0px;
	border-top: 2px solid #cc0099;
}
.box p {
	margin: 0px;
}
.box {
	display: inline;
	width: 14.28571428571429%;
	float: left;
	border-right: 2px solid #cc0099;
	border-bottom: 2px solid #cc0099;
	border-top: 2px solid #cc0099;
	padding-left: 10px;
}
.box:first-child {
	border-left: 1px solid #cc0099;
}
.box:last-child {
	border-right: none;
}
#uutiset {
	clear: both;
}
#sivupalkki {
	float: right;
	width: 30%;
	border: 2px solid #cc0099;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	
}
#uusimmat h3, #blogit h3 {
	background-color: #ff99ff;
	margin: 4px;
	padding: 5px;
}
#uusimmat p, #blogit p {
	padding-left: 5px;
	padding-right: 5px;
}
.otsikko3 {
	margin-bottom: 10px;
}
.aika2 {
	font-size: 12px;
	color: #848484;
	margin: 0px;
	float: right;
}
.kirjoittaja {
	margin: 0px;
	font-size: 12px;
	color: #848484;
}
.kirjoittaja:last-child {
	padding-bottom: 8px;
}
.border {
	border-bottom: 2px dashed #cc0099;
}
.border:last-child {
	border: none;
}
.border .aika {
	margin-bottom: 5px;
}
#container:after {
	content: "";
	display: block;
	clear: both;
}
#uutiset {
	float: left;
	width: 68%;
	padding-left: 10px;
}
.otsikko4 {
	margin-bottom: 5px;
}
.aika {
	font-size: 12px;
	color: #848484;
	margin: 0px;
}
.otsikko2 {
	margin-bottom: 0px;
}
.uutinen {
	float: left;
	width: 50%;
}
.uutinen:after {
	content: "";
	display: block;
	clear: both;
}