 * {
	box-sizing: border-box;
}
#container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}
body {
	background-image: url("christmas-bg.png");
}
.teksti2 {
	display: none;
}
p {
	font-family: 'Titillium Web', sans-serif;
}
header {
	background-color: #a0181c;
	color: white;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Merriweather', serif;
	font-weight: 900;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}
header h1 {
	font-size: 35px;
}
.ylakuva1, .ylakuva2 {
	display: none;
}
#kuvat {
	display: none;
}
.teksti1 h3, .teksti2 h3, .otsikko h3, #lista1 li, #lista2 li, #lista3 li {
	font-family: 'Merriweather', serif;
	font-weight: 400;
}
.teksti1 h3, .teksti2 h3 {
	margin-top: 0px;
	
}
.teksti1, .teksti2 {
	border: 2px dashed #a0181c;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 5px;
	
}
.otsikko {
	border: 1px solid #a0181c;
	text-align: center;
	background: red;
	background: -webkit-linear-gradient(left, white, #a0181c, white);
	background: -o-linear-gradient(left, white, #a0181c, white);
	background: -moz-linear-gradient(left, white, #a0181c, white);
	background: linear-gradient(to right, white, #a0181c, white); 
}
.otsikko h3 {
	margin: 0px;
}
#lista1, #lista2, #lista3{
	list-style-image: url('candycane-mini.png');
	padding-left: 60px;
	margin: 0px;
}
#lista2, #lista3 {
	display: none;
}
#ajankohtaista, #tekstia {
	border: 2px dashed #a0181c;
	padding: 5px;
	margin-bottom: 5px;
}
#osa1 {
	border-bottom: 2px dashed #a0181c;
	
}
#alaosa {
	background-color: #a0181c;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#alaosa img {
	width: 24px;
}
#linkit ul {
	padding: 0px;
}
#linkit a {
	text-decoration: none;
}
.linkki li {
	list-style: none;
	background-color: #335a16;
	margin-top: 5px;
	color: #a0181c;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 1.3em;
}
#pohja {
	text-align: center;
}
#tiedot tr, #tiedot td {
	padding-top: 15px;
	
}
#tekstia p {
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom: 5px;
		margin-bottom: 5px;
}
@media screen and (min-width: 600px) {
	#kuvat {
		display: block;
		text-align: center;
	}
	.kuva {
		border: 2px solid black;
		margin-left: 0.5%;
		margin-top: 5px;
		width: 33%;
		float: left;
	}
	.kuva:first-child {
		margin-left: 0px;
	}
	.teksti1 {
		float: left;
		width: 50%;
		margin-left: 1px;
		border: none;
	}
	.teksti2 {
		display: block;
		float: right;
		width: 49%;
		border: none;
	}
	#ajankohtaista {
		clear: both;
	}
	#tiedot {
		float: left;
		width: 48%;
	}
	#linkit {
		float: right;
		width: 50%;
		margin-top: 
	}
	#linkit ul {
		margin-top: 0px;
		font-family: 'Merriweather', serif;
		font-weight: 400;
	}
	#pohja {
		clear: both;
		text-align: left;
		padding-left: 7px;
		padding-bottom: 10px;
	}
	#lista2 {
		display: block;
	}
}
@media screen and (min-width: 700px) {
	#ajankohtaista {
		float: left;
		width: 49%;
	}
	#tekstia {
		float: right;
		width: 50%;
	}
	#lista1 p, #lista2 p, #lista3 p {
		margin-top: 30px;
	}
	#alaosa {
		clear: both;
	}
	#alaosa img {
		width: 34px;
	}	
}
@media screen and (min-width: 800px) {
	.ylakuva1 img, .ylakuva2 img {
		width: 70px;
	}
	.ylakuva1 {
		display: block;
		float: left;
		text-align: right;
		width: 140px;
		margin-top: 10px;
	}
	.ylakuva2 {
		display: block;
		float: right;
		text-align: left;
		width: 140px;
		margin-top: 10px;
	}
	header::after {
		content: "";
		display: block;
		clear: both;
	}
	#kuvat {
		clear: both;
	}
	header h1 {
		padding-top: 10px;
		margin-left: 140px;
		margin-right: 140px;
	}
	#tietoa {
		float: left;
		width:70%;
	}
	#pohja {
		float: right;
		width: 29%;
		padding: 0px;
		padding-top: 20px;
		clear: none;
		text-align: center;
	}
	#alaosa img {
		width: 30px;
	}
	#alaosa::after {
		content: "";
		display: block;
		clear:both;
	}
	#tekstit {
		float: left;
		width: 70%;
	}
	#sivupalkki {
		float: right;
		width: 29%;
		margin-top: 5px;
	}
	#ajankohtaista {
		float: none;
		margin-bottom: 0px;
		border-bottom: none;
		width: 100%;
	}
	#tekstia {
		float: none;
		border-top: none;
		width: 100%;
	}
	#lista3 {
		display: block;
	}
}