* {
    box-sizing: border-box;
}
#container {
	max-width: 1000px;
}
#ylapalkki select {
	width: 100%;
	font-size: 20px;
	background-color: #b999a1;
	margin-bottom: 10px;
	color: #852425;
	border: 2px solid #852425;
}
#ylapalkki2 {
	display: none;
}
header {
	display: none;
}
#tekstit {
	display: none;
}
#sivupalkki {
	border: 2px solid black;
	background-color: #fff7e6;
	padding-bottom: 20px;
}
.valikko {
	background-color: #b999a1;
	margin: 10px;
	padding: 7px;
}
.valikko h3 {
	margin: 5px;
}
.merkki {
	display: inline;
	float: right;
}
footer {
	background-color: black;
	color: white;
	text-align: center;
}
footer p {
	margin: 0px;
}
#pienin {
	width: 100%;
	margin-bottom: 10px;
}
@media screen and (min-width: 600px) {
	body {
		margin: 0px;
		border: 1px solid black;
	}
	#tekstit {
		display: block;
	}
	#ylapalkki, #pienin, #ylapalkki2 img {
		display: none;
	}
	#ylapalkki2 {
		display: block;
	}
	#ylapalkki2 ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.ylapalkki {
		display: inline;
		border: 1px solid black;
		float: left;
		background-color: #b999a1;
		width: 20%;
		text-align: center;
		padding: 5px;
	}
	header {
		clear: both;
		display: block;
		border: 1px solid black;
		background-color: #fff7e6;
		margin-bottom: 10px;
	}
	#ylateksti {
		padding-left: 10px;
		padding-top: 5px;
		border-top: 2px dotted black;
		
	}
	#otsikko {
		text-align: center;
	}
	.merkki {
		display: none;
	}
	#sivupalkki {
		float: left;
		width: 35%;
	}
	#tekstit {
		float: right;
		width: 62%;
	}
	footer {
		clear: both;
	}
	#alaotsikko {
		text-align: center;
		border-bottom: 1px dotted black;
		border-top: 1px dotted black;
		font-size: 30px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.tiedot {
		background-color: #fff7e6;
	}
	.tiedot h3 {
		margin-top: 0px;
	}
	.teksti {
		margin-bottom: 0px;
	}
	.lisatietoja {
		background-color: #b999a1;
	}
	.lisatietoja p {
		margin: 0px;
		padding: 5px;
		text-align: right;
		color: white;
	}
	#sisalto, #sisalto2 {
		border: 1px solid black;
	}
	#sisalto2 {
		margin-top: 10px;
	}
	#sivupalkki {
		border-radius: 10px;
		margin-left: 10px;
		margin-bottom: 10px;
		padding-bottom: 0px;
	}
}
@media screen and (min-width: 800px) {
	#ylapalkki2 img {
		display: inline-block;
		float: left;
		width: 20%;
		margin: 5px;
	}
	#ylapalkki2 li{
		float: right;
		margin-top: 10px;
		margin-right: 10px;
	}
	.ylapalkki {
		width: auto;
		float: left;
	}
	#otsikko {
		float: left;
		width: 49%;
	}
	#ylateksti {
		float: right;
		width: 50%;
		border-top: none;
		padding-top: 0px;
	}
	header::after {
		content: "";
		display: block;
		clear: both;
	}
	
	
	
	
	
	
}