@base: #663333;
@complement: darken(spin(@base, 180), 5%);
@lighten1: lighten(@base, 15%);
@lighten2: lighten(@base, 30%);
@spacing: 10px;
@padding: 5px;
@sideFont: 'Lobster', cursive;
@margin1: 10px;
@padding1: 5px;
@margin2: 20px;
@padding2: 10px;
@thinBorder: 5px solid @complement;
@thickBorder: 20px solid @complement;
@navBorder: 2px solid @lighten1;

* {
	box-sizing: border-box;
}
#container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	nav {
		background-color: #ffffff;
		z-index: 2;
		position: fixed;
			top: 0;
			left: 0;
			border: @navBorder;
			width: 100%;
			text-align: center;
		ul {
			list-style-type: none;
			margin: 0px;
			padding: 0px;
		
			li {
				display: inline;
				font-size: 14pt;
				padding: @padding1;
				a {
					color: @lighten1;
					text-decoration: none;
				}
			}
		}
	}
	header {
		text-align: center;
			margin-top: 50px;
		h1 {
			font-family: @sideFont;
		}
	}
	#promo-box-container {
		.promo-box-wrapper {
			@media screen and (min-width: 600px) {
				padding: @spacing;
				width:33.333%;
				float: left;
			}
			@media screen and (max-width: 599px) {
				margin-bottom: 5px;
			}
			.promo-box {
					position: relative;
					min-height: 150px;
					background-color: @lighten2;
					
				.top-layer {
					p {
						@media screen and (min-width: 600px) {
							font-size: 16pt;
							margin: 5px;
						}
						margin: 0px;
					}
					ul {
						@media screen and (max-width: 670px) {
							padding-left: 30px;
						}
						@media screen and (max-width: 610px) {
							padding-left: 20px;
						}
					}
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					transition: opacity 2s;
					cursor: pointer;
					cursor: hand;
					&:hover {
						opacity: 0;
					}
					background-color: @lighten2;
					width: 100%;
					height: 100%;
					padding: @padding;
				}
				.bottom-layer {
					padding: 5px;
					p {
						margin: 0px;
					}
					height: 100%;
					padding: @padding;
				}
				
				border: @thinBorder;
			}
		}
	}
	#esittely {
		margin: @margin1;
	}
	#tekstit {
		background-color: @lighten2;
		.teksti {
			@media screen and (min-width: 800px) {
				padding: @spacing;
				width:33.333%;
				float: left;
			}
			h3 {
				@media screen and (min-width: 600px) {
					font-size: 18pt
				}
				@media screen and (min-width: 800px) {
					font-size: 20pt;
				}
				 
				color: @complement;
			}
			.alaTeksti {
				@media screen and (min-width: 800px) {
					float: right;
				}
				p {
					color: @complement;
				}
			}
			padding: @padding1;
		}
		margin: @margin1;
		&::after {
				content: "";
				display: block;
				clear: both;
			}
	}
}