* {
  box-sizing: border-box;
}
#container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#container nav {
  background-color: #ffffff;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid #994d4d;
  width: 100%;
  text-align: center;
}
#container nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
#container nav ul li {
  display: inline;
  font-size: 14pt;
  padding: 5px;
}
#container nav ul li a {
  color: #994d4d;
  text-decoration: none;
}
#container header {
  text-align: center;
  margin-top: 50px;
}
#container header h1 {
  font-family: 'Lobster', cursive;
}
@media screen and (min-width: 600px) {
  #container #promo-box-container .promo-box-wrapper {
    padding: 10px;
    width: 33.333%;
    float: left;
  }
}
@media screen and (max-width: 599px) {
  #container #promo-box-container .promo-box-wrapper {
    margin-bottom: 5px;
  }
}
#container #promo-box-container .promo-box-wrapper .promo-box {
  position: relative;
  min-height: 150px;
  background-color: #bb7777;
  border: 5px solid #2b5555;
}
#container #promo-box-container .promo-box-wrapper .promo-box .top-layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 2s;
  cursor: pointer;
  cursor: hand;
  background-color: #bb7777;
  width: 100%;
  height: 100%;
  padding: 5px;
}
#container #promo-box-container .promo-box-wrapper .promo-box .top-layer p {
  margin: 0px;
}
@media screen and (min-width: 600px) {
  #container #promo-box-container .promo-box-wrapper .promo-box .top-layer p {
    font-size: 16pt;
    margin: 5px;
  }
}
@media screen and (max-width: 670px) {
  #container #promo-box-container .promo-box-wrapper .promo-box .top-layer ul {
    padding-left: 30px;
  }
}
@media screen and (max-width: 610px) {
  #container #promo-box-container .promo-box-wrapper .promo-box .top-layer ul {
    padding-left: 20px;
  }
}
#container #promo-box-container .promo-box-wrapper .promo-box .top-layer:hover {
  opacity: 0;
}
#container #promo-box-container .promo-box-wrapper .promo-box .bottom-layer {
  height: 100%;
  padding: 5px;
}
#container #promo-box-container .promo-box-wrapper .promo-box .bottom-layer p {
  margin: 0px;
}
#container #esittely {
  margin: 10px;
}
#container #tekstit {
  background-color: #bb7777;
  margin: 10px;
}
#container #tekstit .teksti {
  padding: 5px;
}
@media screen and (min-width: 800px) {
  #container #tekstit .teksti {
    padding: 10px;
    width: 33.333%;
    float: left;
  }
}
#container #tekstit .teksti h3 {
  color: #2b5555;
}
@media screen and (min-width: 600px) {
  #container #tekstit .teksti h3 {
    font-size: 18pt;
  }
}
@media screen and (min-width: 800px) {
  #container #tekstit .teksti h3 {
    font-size: 20pt;
  }
}
@media screen and (min-width: 800px) {
  #container #tekstit .teksti .alaTeksti {
    float: right;
  }
}
#container #tekstit .teksti .alaTeksti p {
  color: #2b5555;
}
#container #tekstit::after {
  content: "";
  display: block;
  clear: both;
}
